In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
import keras
import math
from keras.models import Sequential
from keras.layers import Dense
%matplotlib inline

In [3]:
df = pd.read_csv('input/traffic/DataSet/datatrain27303.csv')
df.head()

             timestamp  hourly_traffic_count  green_light
0  2015-10-04 00:00:00                     3           15
1  2015-10-04 00:05:00                    16           25
2  2015-10-04 00:10:00                     9           15
3  2015-10-04 00:15:00                    12           25
4  2015-10-04 00:20:00                    19           25